*~
*.o
obj

*.out
*.a

.depend
*.d

buildtest.*
buildtest

platform/*/img/*.ffs
rump
rump-kernel
rumpobj
rumptools
platform/xen/xen/include/mini-os/machine
platform/xen/xen/include/xen

platform/*/config.mk
platform/*/tests/hello/hello
platform/*/tests/hello/hellopp
platform/*/tests/wopr/wopr

app-tools/rumprun-*
.prevbuild
app-tools/i486-*

*.swp
*.swo
